body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-family: "Lato";
}
body > div > div > div.media.col-sm-6.col-xs-6{
  margin-top: 0;
}
.container-fluid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
@media (max-width: 530px) {
  .container-fluid {
    left: 0;
    margin: 10px 0;
    position: relative;
    top: 0;
    transform: none;
  }
}
.blog-card {
  background-color: hsl(244, 38%, 16%);
  border-radius: 1px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  height: 450px;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}
@media (max-width: 580px) {
  .blog-card {
    height: 350px;
    overflow: visible;
  }
}
.media {
  background-position: center;
  background-size: cover;
  height: 100%;
}
.card-body {
  color: #7A7A7A;
  height: 100%;
  padding: 50px 30px;
}
@media (max-width: 530px) {
  .card-body {
    /* background-color: #7A7A7A; */
  }
}
.tagline {
  font-size: 8px;
  text-transform: uppercase;
}
.title {
  color: #fff;
  font-family: "Playfair Display SC";
  font-size: 30px;
  font-weight: 400;
}
.divider {
  background: #7A7A7A;
  height: 2px;
  margin: 25px auto;
  width: 40px;
}
.paragraph {
  font-weight: 300;
}
.read-more {
  bottom: 25px;
  color: #7A7A7A;
  cursor: pointer;
  left: 50%;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  top: auto;
  transform: translateX(-50%);
}
.read-more:hover,
.read-more:focus,
.read-more:visited {
  color: #252830;
  text-decoration: none;
}
@media (max-width: 530px) {
  .col-xs-6 {
    width: 100%;
  }
}