<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<!-- <app-successalert [type]="'alert-success'">
</app-successalert>
<app-warning-alert [type]="'alert-warning'">
</app-warning-alert> -->

<!-- <app-username-inpout></app-username-inpout> -->
<!-- <app-show-hide></app-show-hide> -->

<!-- <app-driven-form></app-driven-form> -->
<!-- <app-template-driven-forms></app-template-driven-forms> -->
<app-reactive-forms></app-reactive-forms>