<div class="sidebar">
  <div id="profile">
    <img id="" src="/assets/images/Rectangle_2.png" srcset="/assets/images/Rectangle_2.png 1x, images/Rectangle_2.png">
        
      <div id="John_Smith">
        <span>John Smith</span>
      </div>
      <div id="Creative_Director">
        <span>Creative Director</span>
      </div>
      <div id="yourmailexamplecom">
        <span>yourmail@example.com</span>
      </div>
      <div style="margin-top: 50px;margin-right: 90px;">
        <img id="" src="../assets/images/Icon simple-dribbble.png" >
        <img id="" src="/assets/images/Icon awesome-twitter.png" >
        <img id="" src="/assets/images/Icon awesome-behance.png" >
      </div>
            

    </div>